* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  min-width: 350px;
}
body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-width: 350px;
}

main {
  background-color: #fffcfc;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none !important;
}

.navbar{
  padding: 1rem 0;
}

.navbar-brand{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.home {
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://images.unsplash.com/photo-1566837945700-30057527ade0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  /* background:linear-gradient(0deg, rgba(19, 19, 19, 0.3), rgba(0, 0, 0, 0.3)), url(); */
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
}

.home h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.form-container {
  width: 95%;
  min-width: 325px;
  margin: 0 auto;
  padding: 1.5rem;
}

form textarea {
  resize: none;
}

.auth-form{
  width: 40%;
}

.blog-first-item {
  height: 55vh;
  min-height: 350px;
  max-height: 450px;
  transition: 0.15s;
  color: white;
  padding-left: 0;
  padding-right: 0;  
}

.blog-first-item:hover {
  transform: scale(1.01);
  color: white;
}

.blog-first-item:hover .card-title{
  text-decoration: underline;
}

.blog-first-item img{
  filter: brightness(65%);
}

.blog-first-item .card-title {
  font-size: 3rem;
  color: white;
}

 .blog-details img{
   height: 400px;
 }
 .blog-details p {
  font-size: 0.9em;
}
 
 .blog-details .content{
   font-size: 1.25rem;
   line-height: 2.5;
   text-align: justify;
 } 

 .blog-details .blog-info{
   font-size: 1rem;
 }

.blog-item{
  transition: all 0.3s ease-in-out;
  color: black;
}

.blog-item:hover{
  transform: scale(1.03);
  color: black;
} 

.blog-item:hover .blog-title{
  color: black;
  text-decoration: underline;
}

/* Blog List Styling */

#blog-list-header{
  font-size: 2.5em;
}

.blog-item .blog-author span {
  color: #6d6875;
}

.blog-item .blog-date span {
  color: #e5989b;
}

.blog-item .blog-title {
  font-size: 1.40em;
  font-weight: 300;
}
.blog-details img {
  height: 400px;
}

.blog-details .content {
  font-size: 1.25rem;
  line-height: 2.5;
  text-align: justify;
}


@media screen and (max-width:575px) {
  .blogs-container{
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width:576px) {
  .blog-container.first .card-title {
    font-size: 2rem;
  }
}


@media screen and (max-width:767px) {
  .blog-container.first{
    min-height: 250px;
    height: 100%;
  }

  .blog-item{
    border-bottom: 1px solid rgb(223, 223, 223) !important;
  }
 
}